@font-face {
    font-family: "iconfont"; /* Project id 427398 */
    src: url('//at.alicdn.com/t/font_427398_k2p03syvfjk.woff2?t=1627438237254') format('woff2'),
    url('//at.alicdn.com/t/font_427398_k2p03syvfjk.woff?t=1627438237254') format('woff'),
    url('//at.alicdn.com/t/font_427398_k2p03syvfjk.ttf?t=1627438237254') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yulan:before {
    content: "\e67e";
}

.icon-saoma:before {
    content: "\e605";
}

.icon-download:before {
    content: "\e93a";
}

.icon-remove:before {
    content: "\e606";
}

.icon-plus:before {
    content: "\e603";
}

.icon-close:before {
    content: "\e647";
}

.icon-remove1:before {
    content: "\e63a";
}

.icon-shangchuan:before {
    content: "\e671";
}

.icon-icon-test:before {
    content: "\e6de";
}

.icon-yasuobao:before {
    content: "\e61b";
}

.icon-ppt1:before {
    content: "\e604";
}

.icon-Image_File:before {
    content: "\eb72";
}

.icon-Zip:before {
    content: "\e680";
}

.icon-shaixuan:before {
    content: "\e75e";
}

.icon-qr-code:before {
    content: "\e6e5";
}

.icon-ppt:before {
    content: "\e608";
}

.icon-word:before {
    content: "\e60c";
}

.icon-pdf:before {
    content: "\e616";
}

.icon-excel:before {
    content: "\e617";
}

.icon-txt:before {
    content: "\e609";
}

.icon-shanchu:before {
    content: "\e600";
}

.icon-bianji:before {
    content: "\e639";
}

.icon-ziyuan:before {
    content: "\e601";
}

.icon-liebiao:before {
    content: "\e64b";
}

.icon-gengduo:before {
    content: "\e602";
}

.icon-sousuo:before {
    content: "\e66f";
}

.icon-jiantouyou:before {
    content: "\e6bf";
}

.icon-gou1:before {
    content: "\e61a";
}

.icon-gou1-copy:before {
    content: "\e638";
}
